
<%= form_tag charges_path do %>

    <h3> Select reload amount </h3>

    <%= radio_button_tag(:reload, "20") %>
    <%= label_tag(:reload_20, "Reload $20") %>

    <%= radio_button_tag(:reload, "30") %>
    <%= label_tag(:reload_30, "Reload $30") %>
    
    <%= radio_button_tag(:reload, "50") %>
    <%= label_tag(:reload_50, "Reload $50") %>

    <%= radio_button_tag(:reload, "100") %>
    <%= label_tag(:reload_100, "Reload $100") %>

    <script type="text/javascript">
    let amount = 0
    document.getElementById('reload_20').checked = true
    document.getElementById('reload_20').onclick = () => {
        amount = 20
        console.log(amount)
    }
    document.getElementById('reload_30').onclick = () => {
        amount = 30
        console.log(amount)
    }
    document.getElementById('reload_50').onclick = () => {
        amount = 50
        console.log(amount)
    }
    document.getElementById('reload_100').onclick = () => {
        amount = 100
        console.log(amount)
    }


    </script>
  
    <script src="https://checkout.stripe.com/checkout.js" id="stripe-button" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Lagni App Reload"
            data-label="Reload"
            data-amount="`${amount}`"
            data-locale="auto"></script>
  <% end %>